<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dye_Creator_BG3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dye_Creator_BG3.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dye_Creator_BG3.My.MySettings>
            <setting name="Directorio" serializeAs="String">
                <value />
            </setting>
        </Dye_Creator_BG3.My.MySettings>
        <Dye_Creator_BG3.MySettings>
            <setting name="Directorio2" serializeAs="String">
                <value>""</value>
            </setting>
        </Dye_Creator_BG3.MySettings>
    </userSettings>
</configuration>
